<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Chat App</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<! -- FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Shanti&family=Ubuntu+Condensed&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<!-- logo area -->
	<div id="header_area">
		<a href="../">
			<img src="{% static 'assets/logo_white.png'%}">
		</a>
		<p>welcome back {{ user.name }}!</p>
	</div>		
	<div id="message_board">
		
		{% for m in chat %}	
			{% if user.name != m.user|striptags %}
				<div class="chat_message">
			{% else %}
				<div class="my_chat_message">
			{% endif %}
					<div>
						<label class="msg_name">{{ m.user }}</label>
						<label class="msg_time">{{ m.time }}</label>
					</div>
					<p>
						<span>{{ m.message }}</span>
					</p>
				</div>
		{% endfor %}
	</div>
	<div class="message_form">
		<form action="/myapp/send_chat/" method="post">
		{% csrf_token %}
		<input type="text" id="user_message" name="msg" maxlength="250">
		<br>
		<input type="submit" id="send_button" value="send">
		<input type="text" name="user_name" value="{{ user.name }}" style="display: none;">
		</form> 
	</div>	
	<div id="bottom_of_chat"></div>
	<script type="text/javascript" src="{% static 'js/script.js'%}"></script>
</body>
</html>
